.dealbreakers-section {
  font-family: "Figtree", sans-serif;
  background-color: #e3ebee;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 40px;
}

.dealbreakers-title {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  color: #1a2b49;
  margin-bottom: 30px;
}

.dealbreakers-list {
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.dealbreaker-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a2b49;
  font-size: 13px;
  font-weight: 500;
  width: 150px;
}

.dealbreaker-icon img, svg{ 
  font-size: 30px !important;
}

.dealbreaker-label {
  text-align: center;
}

.divider {
  width: 1px;
  height: 60px;
  background-color: #1a2b49;
}

.discount-banner{
  margin-top: 50px;
  width: 100%;
}
